
<div class="container-fluid">
  <div class="row">
    <div id="classes" class="col-12 btn-group-vertical" role="group">
      {{#each classes}}
      <a class="btn btn-lg btn-block btn-outline-dark" 
          href="/classes/read?code={{code}}">
        {{name}} ({{hours}} hours)
      </a>
      {{/each}}
    </div>
  </div>
</div>

{{> footerjs}}
