<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css">
    </head>
    <body>
        {{> header}}
        {{{ body }}}
    </body>
</html>