{% extends "layout.njk" %}

{% block header %}
{% include "header.njk" %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <table class="row">
        <tr>
            <th>Name</th>
            <td>{{student.name}}</td>
        </tr>
        <tr>
            <th>Year Entered</th>
            <td>{{student.entered}}</td>
        </tr>
        <tr>
            <th>Grade Level</th>
            <td>{{student.grade}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{student.gender}}</td>
        </tr>
        {% for clazz in student.classes %}
        <tr>
            <th>Enrolled-In</th>
            <td><a href="/classes/read?code={{clazz.code}}">{{clazz.name}}</a> ({{clazz.hours}} hours)</td>
        </tr>
        {% endfor %}
    </table>

    <div class="row"><div class="col-xs-12">
    <div class="btn-group">
        <a class="btn btn-outline-dark" 
            href="/registrar/students/destroy?id={{student.id}}" 
            role="button">
            Delete
        </a>
        <a class="btn btn-outline-dark" 
            href="/registrar/students/update?id={{student.id}}" 
            role="button">
            Edit
        </a>
    </div>
    </div></div>
</div>
{% endblock %}


